/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other custom styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #040D21;
  /* Dark background */
  overflow-x: hidden;
}

/* Add additional global styles here */
